################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/master/.vs/TTG Tools/v15/Server/sqlite3
